<aside class='px-2 fixed'>
	<p>Σε αυτή την σελίδα</p>
	<ul>
		<li>Κεφαλίδα 1</li>
		<li>Κεφαλίδα 2</li>
		<li>Κεφαλίδα 3</li>
		<li>Κεφαλίδα 4</li>
	</ul>
</aside>

<style>
	aside {
		width: var(--theme-sidebar-width);
		top: 128px;
		inset-inline-end: 0;
	}
</style>
